<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>five后台管理</title>
    <link href="/assets/css/admin_login.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="admin_login_wrap">
        <h1>用户注册</h1>
        <div class="adming_login_border">
            <div class="admin_input">
                <form action="/reg" method="post">
                    <label for="user">用户名：</label>
                    <input type="text" class="username admin_input_style" name="username" value="" style="width: 273px;"><span class="uMsg"></span>
                    <br>
                    <ul class="uList"></ul>
                    <br>
                    <label for="pwd">密码：</label>
                    <input type="text" class="admin_input_style" name="password" value="" style="width: 273px;">
                    <br>
                    <br>
                    <label>手机号码：</label>
                    <input class="phone admin_input_style" type="text" name="phone" value="" style="width: 273px;">
                    <button class="send" type="button">点击发送短信</button>
                    <br>
                    <br>
                    <label>验证码：</label>
                    <input type="text" name="code" value="" class="admin_input_style" style="width: 273px;">
                    <br>
                    <br>
                    <input type="submit" value="提交" class="btn btn-primary" tabindex="3">
                </form>
            </div>
        </div>
        <p class="admin_copyright"><a tabindex="5" href="http://www.mycodes.net/" target="_blank">返回首页</a> &copy; 2014 Powered by <a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
    </div>
    <script src="/plugins/jquery/dist/jquery.min.js"></script>
    <script>
    $(function() {

        $('.username').blur(function() {
            var value = $.trim($(this).val());
            $.post('/check', { username: value }, function(data) {
                if (data.success === 1) {
                    $('.uMsg').text('抱歉');
                    var content = '';
                    data.more.forEach(function(value, key) {
                        content += '<li>' + value + '</li>';
                    })
                    $('.uList').html(content);
                } else {
                    $('.uMsg').text('恭喜你');
                }
            })
        })
        $('.send').click(function() {
            var value = $.trim($('.phone').val());
            $.post('/msg', { phone: value }, function(data) {
                if (data.success === 1) {
                    alert('发送成功');
                    $('.send').prop('disabled', true);
                    var max = 30;
                    var timer = setInterval(function() {
                        max--;
                        if (max <= 0) {
                            clearInterval(timer);
                            $('.send').text('重新发送').prop('disabled', false);
                        } else {
                            $('.send').text(max + 's');
                        }
                    }, 1000)
                } else {
                    alert('发送失败');
                }
            })
        })
    })
    </script>
</body>

</html>